<div class="container">
	<ul>
		{{#answers}}
			{{this.Question_1}}
			<li>{{this.answer_1}}</li>
			<li>{{this.answer_2}}</li>
			<li>{{this.answer_3}}</li>
			<li>{{this.answer_4}}</li>
			<li>{{this.answer_5}}</li>
			<li>{{this.answer_6}}</li>
			<li>{{this.answer_7}}</li>
			<li>{{this.answer_8}}</li>
			<li>{{this.answer_9}}</li>
			<li>{{this.answer_10}}</li>
		{{/answers}}
	</ul>
</div>